@model SuperZapatosWeb.Models.ArticleModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Articulo</legend>

        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.price)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.price)
                @Html.ValidationMessageFor(model => model.price)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.total_in_shelf)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.total_in_shelf)
                @Html.ValidationMessageFor(model => model.total_in_shelf)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.total_in_vault)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.total_in_vault)
                @Html.ValidationMessageFor(model => model.total_in_vault)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.storeName)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.storeId, new SelectList(ViewBag.stores, "id", "name"), "-- Seleccione --")
                @Html.ValidationMessageFor(model => model.storeId)
            </div>
         </div>

        <p>
            <input type="submit" value="Guardar" class="btn btn-primary"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
